
.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
     color: #ffffff
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
	color: #444;
    font-weight: 900;
}
a {
    color: ##337ab7;
    text-decoration: none;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: darkgray;
}
form {
    display: block;
    margin-top: 10px;
	padding-right: 5px;
}
body {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	}
a:focus, a:hover {
    color: grey;
    text-decoration: none;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    outline: none;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.33);
}
.navbar-inverse {
    background-color: #373277;
    border-color: transparent;
}
.experience{
    display:block;
  float:left;
 
  min-height:300px;
  width:100%;
  border-radius:4px;
}
.experience>a{ 
  display:block;
  float:left;
  width:25%;
  text-decoration:none;
  text-align:center;
  padding:5px 0;
  color: #444;
  background:transparent;
}
.experience>div{
    display:block;
 float:left;
 height:40px;
 width:40px;
 border:1px solid black;
 margin:10px;
 -webkit-transition:all .8s linear;
 -moz-transition:all .8s linear;
 -o-transition:all .8s linear;
 -ms-transition:all .8s linear;
 transition:all .8s linear;
 margin-top:20px;
}
.experience>div[data-filter="Youhua"]{
  background:red;
}
.experience>div[data-filter="Isoftstone"]{
  background:green;
}
.experience>div[data-filter="Pactera"]{
  background:blue;
}
.experience>a:focus[data-filter]{
    opacity:.8;
     outline:none;
}
.experience>a[data-filter="Youhua"]:focus ~ div:not([data-filter="Youhua"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}
.experience>a[data-filter="Isoftstone"]:focus ~ div:not([data-filter="Isoftstone"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}
.experience>a[data-filter="Pactera"]:focus ~ div:not([data-filter="Pactera"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}
